{% extends 'base.html' %}

{% block content %}
    <form method="POST" action="/login/" class="form-login">
        <h1>Вход</h1>
        <div>
            <label for="login">Имя пользователя</label>
            <input type="text" id="login" name="login" class="form-control">
        </div>

        <div>
            <label for="password">Пароль</label>
            <input type="password" id="password" name="password" class="form-control">
        </div>
        <br>
        <input type="submit" value="Вход" class="btn btn-lg btn-outline-primary btn-block">
    </form>
{% endblock %}